<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace先随意写一个-->
<mapper namespace="car">
    <!--insert sql：保存一个汽车信息-->
    <insert id="insertCar">
        insert into t_car
            (id,car_num,brand,guide_price,produce_time,car_type)
        values
            (null,'102','丰田mirai',40.30,'2014-10-05','氢能源')
    </insert>
    <insert id="insertCarByMap">
        insert into t_car
            (car_num,brand,guide_price,produce_time,car_type)
        values
            (#{carNum},#{brand},#{guidePrice},#{produceTime},#{carType})
    </insert>
    <!--parameterType可以不写-->
    <insert id="insertCarByPOJO"
            parameterType="com.mybatis.learning.pojo.Car">
        insert into t_car
            (car_num,brand,guide_price,produce_time,car_type)
        values
            (#{carNum},#{brand},#{guidePrice},#{produceTime},#{carType})
    </insert>

    <delete id="deleteByCarNum">
        delete from t_car where car_num = #{SuiBianXie}
    </delete>
<!--更新update-->
    <update id="updateCarByPOJO">
        update t_car set
                         car_num = #{carNum}, brand = #{brand},
                         guide_price = #{guidePrice}, produce_time = #{produceTime},
                         car_type = #{carType}
        where id = #{id}
    </update>

    <!--resultType 指定查询结果集的map属性，必须指定，名称需要与pojo中定义的名称一致-->
    <select id="selectCarById" resultType="com.mybatis.learning.pojo.Car">
        select
            id, car_num as carNum, brand, guide_price as guidePrice, produce_time as produceTime, car_type as carType
        from
            t_car
        where
            id = #{id}
    </select>

    <!--虽然结果是List集合，但是resultType属性需要指定的是List集合中元素的类型。-->
    <select id="selectCarAll" resultType="com.mybatis.learning.pojo.Car">
        <!--记得使用as起别名，让查询结果的字段名和java类的属性名对应上。-->
        select
        id, car_num as carNum, brand, guide_price as guidePrice, produce_time as produceTime, car_type as carType
        from
        t_car
    </select>

</mapper>